---
layout: default
title: CS2340-C  - Spring 2019
---

<h1>Spring 2019</h1>

<ul>

  <li>Lecture: Mondays, Wednesdays, and Fridays at 11:15 in Klaus 1456</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.  Topics noted with (Recitation) are covered in recitation that week, not in lecture.  You're responsible for everything listed on this schedule, some of which may not be covered in lecture or recitation.
</p>

<ul>
    <li>PIS means <a href="https://www.artima.com/shop/programming_in_scala_3ed" target="_new">Programming in Scala</a></li>
    <li>FPIS means <a href="https://www.manning.com/books/functional-programming-in-scala" target="_new">Functional Programming in Scala</a></li>
    <li>SFTI means <a href="http://www.informit.com/store/scala-for-the-impatient-9780134540566" target="_new">Scala for the Impatient</a></li>
    <li>DDD means <a href="http://www.informit.com/store/domain-driven-design-tackling-complexity-in-the-heart-9780321125217" target="_new">Domain-Driven Design</a></li>
    <li>DDDD means <a href="http://www.informit.com/store/domain-driven-design-distilled-9780134434421" target="_new">Domain Driven Design Distilled</a></li>
    <li>CA means <a href="http://www.informit.com/store/clean-architecture-a-craftsmans-guide-to-software-structure-9780134494166" target="_new">Clean Architecture</a></li>
    <li>GoF means <a href="http://www.informit.com/store/design-patterns-elements-of-reusable-object-oriented-9780201633610" target="_new">Design Patterns: Elements of Reusable Object-Oriented Software</a></li>
    <li>ES means <a href="http://www.informit.com/store/essential-scrum-a-practical-guide-to-the-most-popular-9780137043293" target="_new">Essential Scrum</a></li>

</ul>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <tr class="table-header active">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </tr>
    {% for row in table %}
    {% if "internal_header" in row %}
    <tr class="active"><td colspan="4">{{row["internal_header"]}}</td></tr>
    {% else %}
    <tr>
      <td>{{row["date"]}}</td>
      <td>
        {% for item in row["topics"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["topics"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["materials"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["materials"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["reminders"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["reminders"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
