---
layout: default
title: CS2340  - Summer 2019 Berlin
---

<h1>Summer 2019 Berlin</h1>

<ul>

  <li>Lecture: Mondays, Wednesdays, and Thursdays 14:40 - 16:10</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.  Topics noted with (Recitation) are covered in recitation that week, not in lecture.  You're responsible for everything listed on this schedule, some of which may not be covered in lecture or recitation.
</p>

<ul>
    <li>PIS means <a href="https://www.artima.com/shop/programming_in_scala_3ed" target="_new">Programming in Scala</a></li>
    <li>FPIS means <a href="https://www.manning.com/books/functional-programming-in-scala" target="_new">Functional Programming in Scala</a></li>
    <li>SFTI means <a href="http://www.informit.com/store/scala-for-the-impatient-9780134540566" target="_new">Scala for the Impatient</a></li>
    <li>DDD means <a href="http://www.informit.com/store/domain-driven-design-tackling-complexity-in-the-heart-9780321125217" target="_new">Domain-Driven Design</a></li>
    <li>DDDD means <a href="http://www.informit.com/store/domain-driven-design-distilled-9780134434421" target="_new">Domain Driven Design Distilled</a></li>
    <li>CA means <a href="http://www.informit.com/store/clean-architecture-a-craftsmans-guide-to-software-structure-9780134494166" target="_new">Clean Architecture</a></li>
    <li>GoF means <a href="http://www.informit.com/store/design-patterns-elements-of-reusable-object-oriented-9780201633610" target="_new">Design Patterns: Elements of Reusable Object-Oriented Software</a></li>
    <li>ES means <a href="http://www.informit.com/store/essential-scrum-a-practical-guide-to-the-most-popular-9780137043293" target="_new">Essential Scrum</a></li>
    <li>LCPS means <a href="http://concurrent-programming-in-scala.github.io/" target="_new">Learning Concurrent Programming in Scala</li>
    <li>RAD means <a href="https://www.manning.com/books/reactive-application-development" target="_new">Reactive Application Development</a></li>

</ul>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <tr class="table-header active">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </tr>
    
    
    <tr class="active"><td colspan="4">Week 1</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Scala Basics</td></tr>
    
    
    
    <tr>
      <td>2019-05-13</td>
      <td>
        
        Orientation Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-05-15</td>
      <td>
        
        <a href="slides/cs2340-intro.pdf">Intro to CS2340</a><br/>
        
        Install Fest<br/>
        
        <a href="slides/scala-intro.pdf">Intro to Scala</a>
      </td>
      <td>
        
        <a href="resources.html">Getting Started</a><br/>
        
        PIS, Ch 1<br/>
        
        PIS, Ch 2<br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/hw0/hw0.html">HW0 Released 2019-05-15</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-05-16</td>
      <td>
        
        <a href="slides/scala-values-variables.pdf">Values and Variables</a><br/>
        
        <a href="slides/scala-control-structures.pdf">Scala Control Structures</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 2, 3, 5<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        Primary reading: PIS, Ch 7<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 2</td></tr>
    
    
    
    <tr>
      <td>2019-05-20</td>
      <td>
        
        <a href="slides/scala-values-variables.pdf">Values and Variables</a><br/>
        
        <a href="slides/scala-control-structures.pdf">Scala Control Structures</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 2, 3, 5<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        Primary reading: PIS, Ch 7<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-05-22</td>
      <td>
        
        <a href="slides/scala-classes-objects.pdf">Scala Classes and Objects</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 4, 6<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/hw0/hw0.html">HW0 Due 2019-05-22</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-05-23</td>
      <td>
        
        <a href="slides/scala-functions.pdf">Scala Functions</a><br/>
        
        <a href="slides/scala-oop.pdf">Scala OOP</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 2.3, 8, 9<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        PIS, Ch 10, 11<br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/project/berlin.html#m0">M0: Team Formation Due</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 3</td></tr>
    
    
    
    <tr>
      <td>2019-05-27</td>
      <td>
        
        <a href="slides/scala-case-classes.pdf">Scala Case Classes</a>
      </td>
      <td>
        
        PIS, Ch 15<br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/hw1/listutils.html">HW1 Released 2019-05-27</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-05-29</td>
      <td>
        
        <a href="slides/scala-generics.pdf">Scala Generics</a><br/>
        
        <a href="slides/scala-collections.pdf">Scala Collections</a>
      </td>
      <td>
        
        PIS, Ch 19<br/>
        
        PIS, Ch 16, 17, 24, 25<br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/hw2/vector.html">HW2 Released 2019-05-29</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-05-30</td>
      <td>
        
        Himmelfahrt - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Practical Software Development</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 4</td></tr>
    
    
    
    <tr>
      <td>2019-06-03</td>
      <td>
        
        <a href="slides/scala-fp-basics.pdf">Intro to Functional Programming in Scala</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 1, 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-05</td>
      <td>
        
        <a href="slides/scala-functional-data-structures.pdf">Functional Data Structures</a><br/>
        
        <a href="slides/scala-collections.pdf">Scala Collections</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 3<br/>
        
        <a href="code.html#fp">FP Scala Code</a><br/>
        
        PIS, Ch 16, 17, 24, 25<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-06</td>
      <td>
        
        <a href="slides/git.pdf">Version Control Systems</a><br/>
        
        <a href="slides/build-automation.pdf">Build Automation</a><br/>
        
        <a href="slides/scala-play-framework.pdf">Scala Play Framework</a>
      </td>
      <td>
        
        <a href="https://git-scm.com/book/en/v2">Pro Git</a><br/>
        
        <a href="https://git-scm.com/book/en/v2/Git-Branching-Branches-in-a-Nutshell#ch03-git-branching">Git branching</a><br/>
        
        <a href="https://git-scm.com/book/en/v2/Git-Branching-Branching-Workflows#_topic_branch">Topic branches</a><br/>
        
        <a href="https://git-scm.com/book/en/v2/Distributed-Git-Distributed-Workflows#_integration_manager">Integreation manager workflow</a><br/>
        
        <a href="https://git-scm.com/book/en/v2/GitHub-Contributing-to-a-Project">GitHub Workflow</a><br/>
        
        <a href="https://www.scala-sbt.org/">SBT</a><br/>
        
        <a href="https://www.playframework.com/documentation">Scala Play Documentation</a><br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/hw1/listutils.html">HW1 Due 2019-06-04</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Advanced Scala</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 5</td></tr>
    
    
    
    <tr>
      <td>2019-06-10</td>
      <td>
        
        Pfingsten - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-12</td>
      <td>
        
        <a href="slides/software-engineering.pdf">Software Engineering</a><br/>
        
        <a href="slides/agile-software-development.pdf">Agile Software Development</a>
      </td>
      <td>
        
        <br/>
        
        ES<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-13</td>
      <td>
        
        <a href="slides/scala-implicits.pdf">Scala Implicits</a><br/>
        
        <a href="slides/scala-generics.pdf">Scala Generics</a>
      </td>
      <td>
        
        PIS, Ch 21<br/>
        
        PIS, Ch 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 6</td></tr>
    
    
    
    <tr>
      <td>2019-06-17</td>
      <td>
        
        <a href="slides/scala-functional-error-handling.pdf">Functional Error Handling</a><br/>
        
        <a href="slides/scala-monads.pdf">Scala Monads</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 4<br/>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 10-11<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-19</td>
      <td>
        
        <a href="slides/review1.pdf">Review 1</a>
      </td>
      <td>
        
        <a href="slides/review1.html">Review 1 Notes</a><br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/project/berlin.html#m1">M1 Due</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-20</td>
      <td>
        
        Exam 1
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Object-Oriented Design</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 7</td></tr>
    
    
    
    <tr>
      <td>2019-06-24</td>
      <td>
        
        <a href="slides/oo-design.pdf">Object-Oriented Design</a>
      </td>
      <td>
        
        CA, Ch 7 - 11<br/>
        
        GoF, Ch1 - 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-26</td>
      <td>
        
        <a href="slides/oo-design-patterns.pdf">OO Design Patterns</a>
      </td>
      <td>
        
        GoF, Ch <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-06-27</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Reactive Software Architecture</td></tr>
    
    
    
    <tr class="active"><td colspan="4">Week 8</td></tr>
    
    
    
    <tr>
      <td>2019-07-01</td>
      <td>
        
        <a href="slides/scala-generics.pdf">Scala Generics</a>
      </td>
      <td>
        
        PIS, Ch 19<br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/project/berlin.html#m2">M2 Due 2019-07-02</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-07-03</td>
      <td>
        
        Project Demos
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-07-04</td>
      <td>
        
        <a href="slides/scala-functional-error-handling.pdf">Functional Error Handling</a><br/>
        
        <a href="slides/testing.pdf">Testing</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 4<br/>
        
        PIS, Ch 14<br/>
        
        <a href="http://www.scalatest.org/">ScalaTest</a><br/>
        
        <a href="https://www.playframework.com/documentation/2.7.x/ScalaTestingYourApplication">Testing Play Applications</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 9</td></tr>
    
    
    
    <tr>
      <td>2019-07-08</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-07-10</td>
      <td>
        
        <a href="slides/clean-code.pdf">Clean Code</a>
      </td>
      <td>
        
        CC<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-07-11</td>
      <td>
        
        <a href="slides/scala-monads.pdf">Scala Monads</a>
      </td>
      <td>
        
        <a href="https://www.manning.com/books/functional-programming-in-scala">Functional Programming in Scala</a>, Ch 10-11<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Week 10</td></tr>
    
    
    
    <tr>
      <td>2019-07-15</td>
      <td>
        
        <a href="slides/scala-concurrency.pdf">Scala Concurrency</a><br/>
        
        Project Demos
      </td>
      <td>
        
        LCPS 4,8; RAD 2-3; PIS, Ch 32<br/>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/project/berlin.html#m3">M3 Due</a>
      </td>
    </tr>
    
    
    
    <tr class="active"><td colspan="4">Final Exam</td></tr>
    
    
    
    <tr>
      <td>2019-07-18</td>
      <td>
        
        <a href="summer2019berlin/final-exam/final-exam.html">Take-home final exam</a>
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="summer2019berlin/project/berlin.html#m4">M4 (Optional Extra Credit) Due 2019-07-19</a>
      </td>
    </tr>
    
    
  </table>
</div>
